/* Add lumps to the border around the checkbox */
.ag-checkbox-input-wrapper::before {
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: 4px;
    border: 2px dotted darkred;
}
